body{ margin:0
    background-color= #ffffff;
}

@font-face{
    src: url(Cabin_Condensed-SemiBold.ttf);
    font-family: 'Cabin';
 }
 @font-face{
    src: url(Merriweather-Regular.ttf);
    font-family: 'Merriweather';
 }
    ul {
        display: block;
        list-style-type: none;
        padding: 0px;
        overflow: hidden;
        background-color: #000000;
        top: 0px;
        width: 100%;
        margin-left: 0px;
        font-family: Cabin;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #bd5f5f65;
      }
      .active {
        background-color: #00000000;
      }
      .h1{
     
width: 348px;
height: 234px;
left: 539px;
top: 226px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 117px;
text-align: center;

color: #000000;


      }

h2{
width: 233px;
height: 40px;
left: 123px;
top: 1422px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;

color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

main, footer {
  max-width: 600px;
  margin: auto;
  padding: 40px;
}


main {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

main div.card {
  background: #fff;
}

main div.card img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}


main div.card h2 {
  margin: 0;
  padding: 20px 20px 4px 20px;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
}

main div.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:20px;
}

footer {
  text-align:center;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 800px) { 
 
}

@media (max-width: 400px) { 
  body {
      background-color:rgb(255, 255, 255);
  }

  header {
      flex-direction: column;
      gap: 10px;
  }
}