body{ margin:0
  background-color= #eee8e0;
  display: flex;
}

@font-face{
  src: url(Cabin_Condensed-SemiBold.ttf);
  font-family: 'Cabin';
}
@font-face{
  src: url(Merriweather-Regular.ttf);
  font-family: 'Merriweather';
}

ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Cabin;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #bd5f5f65;
  }
  .active {
    background-color: #00000000;
  }

  /* CHI SIAMO */

.h1{ position: absolute;
width: 470px;
height: 117px;
left: 487px;
top: 307px;

font-family: 'Cabin';
font-style: normal;
font-weight: 600;
font-size: 96px;
line-height: 117px;
/* identical to box height */

color: #000000;
}

.par{
  /* Agenzia si occupa di rappresentare artisti selezionati per la loro dedizione all’arte e la loro professionalità. Hanno stili diversi e unici e grazie a noi hanno collaborato con molti brand importanti e arricchito con la loro arte il mondo del web. */

position: absolute;
width: 517px;
height: 210px;
left: 129px;
top: 605px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #000000;
}

h2{
   /* CONTATTI */

position: absolute;
width: 174px;
height: 40px;
left: 853px;
top: 590px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

color: #000000;
}

p{
  /* agenziaillustratori@agenzia.com +12 3456789 */

position: absolute;
width: 415px;
height: 136px;
left: 852px;
top: 673px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #000000;


}

h3{
  /* I NOSTRI CLIENTI */

position: absolute;
width: 369px;
height: 58px;
left: 554px;
top: 1037px;

font-family: 'Cabin';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;

color: #000000;


}

.brand{
 

position: absolute;
width: 854px;
height: 43px;
left: 312px;
top: 1228px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #000000;



}

footer {
  text-align:center;
  padding: 5px;
  background-color: #000000;
  color: #ffffff;
}